header {
    position: sticky;
    top: 0;
    background-color: #1a73e8;
    padding: 10px 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

body {
    background-color: #f4f6f9;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #1a73e8;
    margin-top: 30px;
}


section {
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}


h2 {
    font-size: 28px;
    font-weight: bold;
    color: #222;
    margin-bottom: 15px;
}


#About {
    text-align: center;
}


#Experience ul {
    list-style: none;
    padding: 0;
}

#Experience li {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}



#Connect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Connect ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

#Connect a {
    text-decoration: none;
    color: white;
    background-color: #1a73e8;
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s;
}

#Connect a:hover {
    background-color: #155ab6;
}
